

/* mascot sizing */
.topbar-mascot{
  width: 150px;
  height: 150px;
  object-fit: contain;
}


/* pin the topbar to the top of the left column */
.left-topbar-abs{
  position: absolute;
  left: 12px;
  right: 12px;
  z-index: 3;
}