#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Hide scrollbar (Chrome, Edge, Safari) */
body::-webkit-scrollbar {
  display: none;

}

/* Hide scrollbar (Firefox) */
body {
  scrollbar-width: none;
}

